body {
  background-color: #cd833a;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  padding: 30px;
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
